<html>
<head>
    <title>Niezapominka</title>
    {% load static %}
    <link rel="stylesheet" href="{% get_static_prefix %}style.css" />
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/list.js"></script>
</head>
<body>
    <div style="width: 800px; margin: auto;">
<form action="add_task/" method="post">
    {% csrf_token %}
    <input type="text" name="new_task_name" maxlength="255" placeholder="nazwa zadania" size="60" autofocus="autofocus" />
    <input type="text" name="priority" maxlength="3" placeholder="priorytet" style="width: 70px;" value="0" />
    <input type="submit" value="Dodaj zadanie" />
</form>
</div>

<hr />

{% if lista %}
<ol>
    {% for task in lista %}
    <li>
    <div style="width: 100%; display: table;">
    <div style="display: table-row;">
    <div id="task_{{ task.id }}_container" task-id="{{ task.id }}" class="task_div" style="display: table-cell;" >
        <button
            type="button"
            id="del_task_{{ task.id }}"
            class="delete_button large_button"
            title="usuń (wraz z podpunktami)"></button>
    {% if task.is_open %}
        <button
            type="button"
            id="task_{{ task.id }}"
            class="tick_button large_button"
            title="skreśl"></button>
        <span id="task_{{ task.id }}_priority" class="priority" priority="{{ task.priority }}">({{ task.priority }})
            <input type="text" value="{{ task.priority }}" style="display: none" class="priority_input" />
            <button
                type="button"
                style="display: none"
                class="set_task_priority_button small_button" ></button>
        </span>
        <span id="edit_task_{{ task.id }}" class="edit_task_form">
            <button
                type="button"
                class="cancel_edit_button small_button"
                title="anuluj"></button>
            <input type="text" value="{{ task }}" style="display: none" size="50" maxlength="255" />
            <button
                type="button"
                id="save_task_{{ task.id }}"
                class="save_button small_button"
                title="zapisz"></button>
        </span>
        <span id="task_{{ task.id }}_text" class="task_name">{{ task }}</span>
        <div class="task_form" style="display: inline;">
            <input type="text" id="subtask_name_{{ task.id }}" placeholder="dodaj podpunkt" maxlength="255" size="50" />
            <button
                type="button"
                id="add_task_{{ task.id }}"
                class="add_button large_button" ></button>
        </div>
    {% else %}
        <button
            type="button"
            id="task_{{ task.id }}"
            class="revive_button large_button"
            title="odkreśl"></button>
        <span id="task_{{ task.id }}_priority" class="priority noclick" priority="{{ task.priority }}">({{ task.priority }}) </span>
        <span class="cross_gray">{{ task }}</span>
    {% endif %}
    </div>
    <div
        class="task_indicator"
        style="display: table-cell; background: {{ task.color }}"
        title="Dodane {{ task.added_at }}"
    >{{ task.age }}</div>
    </div>
    <div class="subtasks_container" style="display: table-row;">
        {% for subtask in task.subtask_set.all %}
        <div id="subtask_{{ subtask.id }}_container" subtask-id="{{ subtask.id }}" class="subtask_div">
            <button
                type="button"
                id="del_subtask_{{ subtask.id }}"
                class="delete_sub_button small_button"
                title="skreśl"></button>
            <button
                type="button"
                id="subtask_{{ subtask.id }}"
                class="{% if subtask.is_open %}cross_sub_button{% else %}revive_sub_button{% endif %} small_button"
                title="skreśl"></button>
            <span {% if not subtask.is_open %}class="cross_gray"{% endif %}>{{ subtask }}</span>
        </div>
        {% endfor %}
    </div>
    </div>
    </li>
    {% endfor %}
</ol>
{% else %}
<p>Nie ma zadań</p>
{% endif %}
</body>
</html>
