@charset "utf-8";
.cross_gray {
    text-decoration: line-through;
    color: gray;
}
.priority {
    color: gray;
    cursor: pointer;
    font-size: 90%;
}
.priority_input {
    width: 40px;
}

.noclick {
    cursor: auto;
}

button {
    cursor: pointer;
}

.large_button {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    height: 30px;
    width: 30px;
}
.small_button {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    height: 20px;
    width: 20px;
}

.delete_button {
    background: url('cross.png') center center no-repeat;
}
.add_button {
    background: url('add.png') center center no-repeat;
}
.tick_button {
    background: url('tick.png') center center no-repeat;
}
.revive_button {
    background: url('images/asterisk_yellow.png') center center no-repeat;
}

.task_div button {
    float: top;
    margin: 5 2;
}
.task_name {
    margin: auto;
}

.subtask_div {
    margin-left: 50px;
}
.subtask_div button {
    margin: 5 2;
}

.delete_sub_button {
    background: url('bullet_delete.png') center center no-repeat;
}
.revive_sub_button {
    background: url('bullet_toggle_plus.png') center center no-repeat;
}
.cross_sub_button {
    background: url('bullet_toggle_minus.png') center center no-repeat;
}
.set_task_priority_button {
    background: url('images/database_save.png') center center no-repeat;
}
