@charset "utf-8";
.cross_gray {
    text-decoration: line-through;
    color: gray;
}
.priority {
    color: gray;
    font-size: 90%;
}
.delete_button {
    background: url('cross.png') left center no-repeat;
}
.add_button {
    background: url('add.png') left center no-repeat;
}
.tick_button {
    background: url('tick.png') left center no-repeat;
}
.revive_button {
    background: url('arrow_undo.png') left center no-repeat;
}
.delete_sub_button {
    background: url('bullet_delete.png') center center no-repeat;
}
.revive_sub_button {
    background: url('bullet_toggle_plus.png') center center no-repeat;
}
.cross_sub_button {
    background: url('bullet_toggle_minus.png') center center no-repeat;
}
